<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.web.StartSessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterMassageServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EnterMassageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EncryptMessageServelt</servlet-name>
        <servlet-class>za.ac.tut.web.EncryptMessageServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveMessageServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SaveMessageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllMessagesServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewAllMessagesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLongestServelt</servlet-name>
        <servlet-class>za.ac.tut.web.ViewLongestServelt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewLongestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewLongestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServelt</servlet-name>
        <servlet-class>za.ac.tut.web.LogoutServelt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterMassageServlet</servlet-name>
        <url-pattern>/EnterMassageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EncryptMessageServelt</servlet-name>
        <url-pattern>/EncryptMessageServelt.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveMessageServlet</servlet-name>
        <url-pattern>/SaveMessageServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllMessagesServlet</servlet-name>
        <url-pattern>/ViewAllMessagesServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLongestServelt</servlet-name>
        <url-pattern>/ViewLongestServelt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewLongestServlet</servlet-name>
        <url-pattern>/ViewLongestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServelt</servlet-name>
        <url-pattern>/LogoutServelt.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>compName</param-name>
        <param-value>Siri</param-value>
    </context-param>
</web-app>
